@*@model IEnumerable<MVC.Model.Users>*@
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
@*	<link rel="stylesheet" href="~/style/style.css">*@
	<title>Document</title>
</head>
<body>

	<h1>Index</h1>
	<form action="@Url.Action("About", "Home")" method="post">
		<label asp-for="Name">Name</label>
		<input type="text" name="Name" /><br />
		<label asp-for="Age">Age</label> 
		<input type="number" name="Age" /><br />
		<input type="submit" value="enter" />
	</form>


	@*<a href="@Url.Action("About", "Home")">About</a>*@
@*<script src="~/js/script.js"></script>*@
</body>
</html>